@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(#190041, #5e0000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 28px;
}

